doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Edit Article
    link(rel="stylesheet", href="/styles/AddArticle.css")
  body
    h1 Edit Article

    form(action=`/update/${article.id}`, method="POST") 
      label(for="title") Article Title:
      input(type="text", id="title", name="title", value=article.title, required) 
      br

      label(for="content") Article Content:
      textarea(id="content", name="content", rows="4", required) #{article.content}
      br

      button(type="submit") Edit